<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunemate.be.domain.album.domain.AlbumSqlMapper">
    <insert id="registAlbumInfoProcess">
        insert into club(
            artist_id, album_title, album_description, thumnail_img,release_at, created_at
        )
        values(
           #{artist_id},#{album_title},#{album_description},#{thumnail_img},#{release_at},#{created_at}
        );
    </insert>
</mapper>