<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunemate.be.domain.album.domain.album.AlbumSqlMapper">
    <insert id="registAlbumInfoProcess">
         INSERT INTO album (
            artist_id,
            album_title,
            album_description,
            thumbnail_img,
            release_at
        )
        VALUES (
            #{artist_id},
            #{album_title},
            #{album_description},
            #{thumbnail_img},
            #{release_at}    
        )
    </insert>


    <insert id="registAlbumReviewProcess" >

        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select max(id) from album_review
        </selectKey>
        INSERT INTO album_review (
            user_id,
            album_id,
            album_review    
        ) 
        VALUES (
            #{user_id},
            #{album_id},
            #{album_review}
        )
    </insert>

    <select id="albumInfo" resultType="com.tunemate.be.domain.album.domain.album.AlbumDto">
        select * from album where id=#{id}
    </select>
    <select id="reviewTagList" resultType="com.tunemate.be.domain.album.domain.album.ReviewTagDto">
        select * from review_tag
    </select>

    <insert id="registAlbumReviewTagProcess" >
        INSERT INTO review_x_tag (
            tag_id,
            review_id   
        ) 
        VALUES (
            #{tag_id},
            #{review_id}
        )
    </insert>
</mapper>